@media all and (max-width: 767px) {
  .learn-guess-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    padding: 15px 10px;
    margin: 15px 10px;
    -webkit-box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
  }

  .learn-guess-form label {
    padding: 15px 0px;
    font-weight: 600;
  }

  .learn-guess-form input {
    margin: 15px 0px;
    width: 80%;
    text-align: center;
  }
  .learn-guess-form button {
    padding: 10px 0px;
    width: 50%;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: 600;
  }
}
@media all and (min-width: 767px) {
  .learn-guess-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    padding: 15px 10px;
    margin: 15px 10px;
    -webkit-box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
  }

  .learn-guess-form label {
    padding: 15px 0px;
    font-size: 20px;
    font-weight: 600;
  }

  .learn-guess-form input {
    margin: 15px 0px;
    padding: 10px 0px;
    font-size: 20px;
    width: 50%;
    text-align: center;
  }
  .learn-guess-form button {
    padding: 10px 0px;
    width: 50%;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: 600;
  }

  .learn-guess-form button:hover {
    background-color: #fdf3c5;
    transition-duration: 400ms;
  }
}
