@media all and (max-width: 767px) {
  header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-title {
    font-size: 25px;
  }

  .header-title a {
    text-decoration: none;
  }

  .header-login-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    margin-top: 10px;
  }

  .header-login-nav a {
    text-decoration: none;
    font-weight: 600;
  }

  .header-login-nav span {
    font-weight: 600;
  }
}

@media all and (min-width: 767px) {
  header {
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-title {
    font-size: 25px;
  }

  .header-title a {
    text-decoration: none;
  }

  .header-login-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
  }

  .header-login-nav a {
    text-decoration: none;
    font-size: 20px;
  }

  .header-login-nav span {
    font-size: 20px;
  }
}
